#header-top{
    background: #FFF;
}
#header-top .logo img{
	max-width: 100%;
	display: block;
}

#header-top .nav-search{
	width: 350px;
}
#header-top .nav-search form.search-bar{
	width: 100%;
	position: relative;
}
#header-top .nav-search form.search-bar .search-text{
	width: 100%;
	height: 45px;
    border-radius: 45px;
    border: solid 1px #e5e6ec;
    padding: 0 70px 0 20px;
    outline: none;
    font-size: var(--font-size);
}
#header-top .nav-search form.search-bar .search-btn{
	position: absolute;
	right: 0px;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #F00;
	top: 0px;
	border: none;
	background: transparent;
	cursor: pointer;
}

#header-top .nav-header{
	width: auto;
}
#header-top .nav-header .phone{
	padding: 0 25px;
    height: 45px;
    color: #ff2d37;
    border: 2px solid #ff2d37;
    cursor: pointer;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    text-align: center;
    display: inline-block;
    position: relative;
}
#header-top .nav-header .phone:hover{
	background: #ffb8bc;
	color: #FFF;
}
#header-top .nav-header .phone:before {
    content: "";
    width: 45px;
    height: 45px;
    background: #ff2d37;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top: -2px;
}
#header-top .nav-header .phone i {
    font-size: 22px;
    position: absolute;
    right: -13px;
    top: 8px;
    color: #fff;
}
#header-top .nav-header .phone p {
    text-align: center;
    margin-bottom: 0px;
    line-height: 12px;
    margin: 7px 0 0;
    font-size: 13px;
}
#header-top .nav-header .phone span {
    font-weight: 700;
    font-size: 14px;
}
#header-top .nav-header .account{
	margin: 0px 13px 0px 35px;
	position: relative;
}
#header-top .nav-header .account > div.icon,#header-top .nav-header .cart > div.icon{
	width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ff2d37;
}
#header-top .nav-header .account > div.icon span,#header-top .nav-header .cart > div.icon span {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 45px;
    font-size: 18px;
    color: #fff;
}

#header-top .nav-header .account .achover {
    width: 180px;
    background: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -webkit-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -o-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -os-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    position: absolute;
    right: -60px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    top: 100%;
    border-radius: 10px;
    transition: all 0.6s;
}
#header-top .nav-header .account .achover a{
	    display: block;
    padding: 5px 10px;
    color: #FFFFFF;
    text-decoration: none;
    background: #ff2d37;
    margin: 4px 0px;
    border-radius: 30px;
    font-size: 13px;
    line-height: 25px;
    text-transform: uppercase;
    transition: all 0.6s;
}
#header-top .nav-header .account .achover a:hover{
	color: #FFF;
	background: #10263e;
}
#header-top .nav-header .account:hover .achover,#header-top .nav-header .cart:hover .achover,#header-top .nav-header .cart.active .achover{
	opacity: 1;
    visibility: visible;
    margin-top: 0px;
}
#header-top .nav-header .cart{
	position: relative;
    cursor: pointer;
}
#header-top .nav-header .cart .achover {
    width: 280px;
    background: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -webkit-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -o-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -os-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    position: absolute;
    right: 0px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    top: 100%;
    border-radius: 10px;
    transition: all 0.6s;
    font-size: 13px;
}
#header-top .nav-header .cart .achover p{
	margin-bottom: 0px;
}
.item-header:nth-child(1){
    display: none;
}

@media screen and (max-width:1199px) {
    
}
@media screen and (max-width: 991px) {
    #header-top{
        padding-top: 65px;
        position: relative;
        padding-bottom: 10px;
    }
    #header-top .header{
        justify-content: flex-end !important;
    }
    #header-top .nav-search {
        position: absolute;
        left: 0px;
        top: 10px;
        width: 100%;
    }
    #menu{
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .item-header{
        flex: 1;
    }
    .item-header:nth-child(1){
        display: block;
    }
    .item-header:nth-child(1),.item-header:nth-child(2),.item-header:nth-child(3){
        width: auto;
    }
    #header-top .nav-header .phone{
        display: none;
    }
}
@media screen and (max-width: 575px) {
    
    #header-top .nav-header .account{
        margin-left: 0px;
    }
}