.owl-carousel.in-home .owl-nav .owl-prev, .owl-carousel.in-home .owl-nav .owl-next {
    top: 50%;
    border: none;
    position: absolute;
    text-decoration: none;
    width: 36px;
    height: 36px;
    margin-top: -15px;
    padding: 0;
    background: transparent;
    outline: none;
    border-radius: 0;
    white-space: nowrap;
    margin-right: 0;
    margin-left: 0;
}
.owl-carousel.in-home .owl-nav .owl-prev {
    left: 20px;
}
.owl-carousel.in-home .owl-nav .owl-next {
    right: 20px !important;
}
.owl-carousel.in-home .owl-nav .owl-next {
    left: auto;
}
.owl-carousel.in-home .owl-nav .owl-next, .owl-carousel.in-home .owl-nav .owl-prev {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-color: #fff;
    background: #fff;
    border-radius: 50%;
    top: 45%;
    font-size: 30px;
    color: #F00;
}
.owl-carousel.in-home .owl-nav .owl-next span, .owl-carousel.in-home .owl-nav .owl-prev span{
	display: block;
    margin-top: -4px;
    font-weight: bold;
}
