.frm_cx{max-width: 810px;
    margin: auto;
    border-radius: 4px;
    padding-left: 25px;}
.ipx{width: 100%;
    border: none;
    background: #d5d6d6;
    border-radius: 4px;
    height: 45px;
    padding-left: 12px;
    margin-bottom: 14px;
    font-size: 16px;}
.ipx_l{width: calc(50% - 7px);
    border: none;
    background: #d5d6d6;
    border-radius: 4px;
    height: 45px;
    padding-left: 12px;
    margin-bottom: 14px;
    font-size: 16px;
    float: left;}
.ipx_r{width: calc(50% - 7px);
    border: none;
    background: #d5d6d6;
    border-radius: 4px;
    height: 45px;
    padding-left: 12px;
    margin-bottom: 14px;
    font-size: 16px;
    float: right;}
.trx_ip{width: 100%;
    border: none;
    background: #d5d6d6;
    border-radius: 4px;
    height: 65px;
    padding: 12px;
    margin-bottom: 14px;
    font-size: 16px;}
.div_frm{text-align: right;}
.div_frm input{background: #ffd500;
    color: #fff;
    font-family: 'roboto_r';
    padding: 13px 35px;
    border: none;
    border-radius: 7px;
    margin: 0 3px;
    cursor: pointer;
    color: #333;}
.pdl25{padding-left: 25px!important;}
.div_frm input:hover{background: #f00;color: #fff;}
footer {
    width: 100%;
    background: #005d14;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0px;min-height: 480px;
}
footer.footer .info-footer{
    color: #FFF;
}
footer.footer .info-footer img{
    vertical-align: middle;
}
footer.footer .info-footer p{
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 10px;
}
footer.footer .title-menu {
    margin: 0;
    line-height: normal;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-top: 0px;
    color: #fff;
}
footer.footer .title-menu a, footer.footer .title-menu span {
    cursor: default;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    color: #fff;
    display: block;
    padding: 5px 0px;
}
.cmp{font-size: 20px!important;}
footer.footer .title-menu a i.fa, footer.footer .title-menu span i.fa {
    display: none;
}
footer.footer .list-menu {
    line-height: 35px;
    padding-left: 0px;
}
footer.footer .list-menu .li_menu {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 32px;
}
footer.footer .list-menu .li_menu a {
    color: #fff;
    position: relative;
}
.tag_ft{color: #b7b7b7;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 1px;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid;}
.tag_ft:last-child{border: none;}
.tag_ft:hover{color: #fff;}
.tag_tk{font-size: 16px;
    color: #b7b7b7;
    margin-top: 20px;
    margin-bottom: 15px;}
.copyright{
	color: #FFF;
	margin-top: 25px;
	display: block;
	width: 100%;
}
.copyright a{
	color: #FF2D37;
}
.spf1{display: block;
    height: 1px;
    background: #909090;
    width: 100%;
    margin-top: 30px;}
.spf2{display: block;
    height: 1px;
    background: #909090;
    width: 100%;
    margin-top: 1px;}
.footer_bottom .title-menu {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    margin: 0 0 10px;
    padding: 0;
    text-align: left;
}
.footer_bottom .w_f {
    font-size: 27px;
    line-height: 32px;
    margin: 0;
}
.footer_bottom .w_f .fa {
    font-size: 9px;
    vertical-align: top;
    margin-top: 6px;
    color: #fff;
    background: #ff2d37;
    text-align: center;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
}
.footer_bottom p {
    font-size: 12px;
    font-weight: 400;
    color: #282828;
    margin-bottom: 0;
}
.footer_bottom .contact_mail {
   padding-left: 0px;
    margin-top: 3px;
    display: inline-block;
    width: 100%;
    max-width: 370px;
}
.footer_bottom .contact_mail form {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.fone{
	color: #333;
}
.footer_bottom .contact_mail input{
	height: 40px;
    border: 1px solid #eee;
    padding: 5px 10px;
    outline: none;
    width: calc(100% - 72px);
}
.footer_bottom .contact_mail button{
height: 41px;
    border: 1px solid #d00008;
    background: #d00008;
    padding: 0px 10px;
    color: #FFF;
    cursor: pointer;
    width: 90px;
    font-family: robotobold;
    margin-left: 3px;
    text-transform: uppercase;
}
.footer_bottom .contact_mail button:hover{border: 1px solid #33c752;
    background: #33c752;}
.footer_bottom .contact_mail input.error{
    border: 1px solid #ff2d37;
}
.footer_bottom .contact_mail label.error{
    position: absolute;
    top: calc(100% + 5px);
    color: #ff2d37;
    font-size: 13px;
    display: none !important;
}
#copy-right{background: #d8b607;
    color: #fff;
    padding: 16px 15px;
    font-size: 14px;
    font-family: 'RobotoBold';
    text-align: center;}
.footer .follow_option {
    padding-left: 0px;
    margin-top: 3px;display: inline-block;
}
.footer .follow_option li {
    display: inline-block;
}
.footer .follow_option li a {
    height: 40px;
    width: 40px;
    text-align: center;
    background: #ffd500;
    color: #fff;
    line-height: 40px;
    color: #fff;
    display: block;
    margin-right: 5px;
}
.footer .follow_option li a:hover{background: #f00;}
.footer .follow_option li a .fa {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}
.collapse{
    display: block;
}
.title-menu-h5{font-size: 16px;
    text-transform: uppercase;
    font-family: robotobold;
    display: inline-block;
    padding-right: 15px;}
.txt_right{text-align: right;}
.footer_bottom{background: #005011;color: #fff;padding-top: 20px;padding-bottom: 15px;}
@media screen and (max-width: 991px) {
    footer.footer .col--2{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer_bottom .col--2{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer_bottom .txt_right{text-align: left;}
    footer.footer .col--4{
        width: calc(100% / 2);
    }
    .footer_bottom .col--4{
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 575px) {
    footer.footer .col--4{
        width: calc(100% / 1);
    }
    .collapse{
        display: none;
    }
    footer.footer .title-menu a i.fa, footer.footer .title-menu span i.fa{
        display: block;
        position: absolute;
        right: 0px;
        top: 7px;
    }
    footer.footer .title-menu a, footer.footer .title-menu span {
        cursor: pointer;
    }
    .footer_bottom .col--4{
        width: calc(100% / 1);
        margin-bottom: 20px;
    }
    .footer_bottom .col--4:last-child{
        margin-bottom: 0px;
    }
}