.adv-one .row-adv{
	width: calc(100% + 8px);
	margin: 8px -4px;
}
.desf1{color: #666565;
    font-family: 'utm_bienvenue';
    font-style: italic;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;}
.desf2{font-family: 'utm_bienvenue';
    text-align: center;
    text-transform: uppercase;
    color: #ffd500;
    font-size: 35px;
    margin-bottom: 45px;}
.a_adv{display: block;
    width: 140px;
    margin: auto;
    border: 2px solid #ffd500;
    color: #666565;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin-top: 35px;
    margin-bottom: 15px;}
.a_adv:hover{color: #000;
    border-color: #f00;}
.adv-one .item-adv{
	padding: 0px 5px;
}
.adv-one .item-adv img{
	max-width: 100%;
    display: block;
    border: 3px solid #005d14;
    width: 100%;
    border-radius: 4px;
    
}

.adv-one .item-adv:hover img{border-color: #f00;}
.cxyc{text-align: center;
    color: #005d14;
    font-size: 24px;
    text-transform: uppercase;
    font-family: robotobold;
    margin-top: 50px;margin-bottom: 20px;}
.cxyc span{display: block;
    border-bottom: 2px dashed #005d14;
    width: 100px;
    margin: 10px auto;}

@media screen and (max-width:767px) {
.frm_cx{
    padding: 15px;}
}