#why-box-vertical {
    background: #fff;
    padding: 10px;
    border: 1px solid #eee;
}
#why-box-vertical .w-why{
	width: 100%;
}
#why-box-vertical .wraptem{
    margin: 10px 0px;
}
#why-box-vertical .wraptem .img {
    width: 30px;
    height: 40px;
    background: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#why-box-vertical .wraptem .img img{
    max-width: 100%;
    display: block;
}
#why-box-vertical .wraptem .content_right {
    width: calc(100% - 40px);
    -moz-width: calc(100% - 40px);
    -o-width: calc(100% - 40px);
    -os-width: calc(100% - 40px);
    display: block;
    padding-left: 10px;
    padding-top: 5px;
}
#why-box-vertical .wraptem .content_right p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}
#why-box-vertical .wraptem .content_right span {
    font-size: 12px;
    color: #282828;
}