.toolbar {
    background: #535452;
    display: none;
    width: 100%;
    padding: 5px 10px;
    bottom: 0;
    position: fixed;
    z-index: 500;
    height: auto;
}
.toolbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.toolbar ul li {
    text-align: center;
    float: left;
    width: calc(100% / 3);
}
.toolbar ul li a {
    display: inline-block;
    width: 100%;
}
.toolbar ul li a img {
    height: 20px;
    width: auto;
}
.toolbar ul li a span {
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
}
@media screen and (max-width: 768px){
    .toolbar {
        display: block;
    }
}