.footer-two{
	background: #051218;
	padding: 40px 0px;
}
.footer-two .box-footer{
	padding-bottom: 30px;
	border-bottom: 1px solid #06202b;
}
.footer-two h4.head-footer,.footer-two .box-footer h3{
	font-size: 15px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
	position: relative;
	padding-bottom: 5px;
}
.footer-two h4.head-footer:before{
	position: absolute;
	content: '';
	width: 40px;
	height: 2px;
	background: #FFE600;
	left: 0px;
	bottom: 0px;
}
.footer-two .box-footer h3{
	padding-bottom: 0px;
}
.footer-two .box-footer p{
	font-size: 13px;
	color: #FFF;
	margin-bottom: 10px;
}
.footer-two .box-footer p.hotline{
	padding-left: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: url('images/24h.png') no-repeat left center;
}
.footer-two .box-footer p.hotline span{
	display: block;
	font-size: 16px;
}
.footer-two .box-footer a{
	display: block;
	color: #FFF;
	padding: 5px 0px;
}
.footer-two #subscribe-form{
	display: flex;
	background: #FFF;
}
.footer-two input[type=email] {
    width: 100%;
    height: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-right: 0px;
    padding: 0px 10px;
    font-style: italic;
    color: #333;
    background: #FFF;
    text-align: left;
    box-shadow: 3px 3px 2px #333;
}
.footer-two .subscribe {
	width: 120px;
	background: #FFE600;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	margin: 0 auto;
	border: none;
	position: relative;
	overflow: hidden;
	padding-left: 30px;
}
.footer-two .subscribe:before{
    position: absolute;
    width: 100px;
    height: 100%;
    content:'';
    left: -77px;
    top: 0px;
    background: #FFF;
    transform: skewX(-30deg);
}
.footer-two .box-footer1{
	padding-top: 30px;
	border-top: 1px solid #0e1010;
}
.footer-two .desc-footer p,.footer-two .taikhoan{
	color: #FFF;
	line-height: 20px;
}
.footer-two .desc-footer p{
	padding: 5px 0px;
}
.footer-two .taikhoan{
	padding: 10px 0px 0px;
	line-height: 30px;
}
.footer-two .selectnganhang{
	width: 100%;
	border: 1px solid #FFF;
	padding: 5px 10px;
	background: #FFF;
}
.xemthem-chitiet{
	display: none;
	font-size: 15px;
	text-transform: uppercase;
	padding: 10px 10px;
	color: #FFF;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
.xemthem-chitiet.active{
	background: rgb(254, 215, 0);
	color: #333;
}
.xemthem-chitiet i{
	float: right;
}
@media screen and (max-width:991px) {
    .footer-two .col-3{
    	width: 100%;
    	margin-top: 10px;
    }
}
@media screen and (max-width:768px) {
    .footer-two .col-4{
    	width: 100%;
    	margin-top: 10px;
    }
    .footer-two .box-footer1 .col-5{
    	width: 100%;
    }
    .mobile-collaped{
    	display: none;
    }
    .xemthem-chitiet{
    	display: block;
    }
}
#copy-right{
	background: var(--color-key);
	padding: 10px 0px;
	font-size: 14px;
}
@media screen and (max-width: 768px){
    #copy-right{
        padding-bottom: 60px !important;
    }
}