#category{
	margin: 20px 0px;
}
#category .item_proprety {
    margin-bottom: 20px;
    padding: 0 10px;
}
#category .item_proprety{
	width: calc(100% / 12 * 4);
}
#category .item_proprety:nth-child(1){
	width: calc(100% / 12 * 8);
}
#category .wrap_banner {
    position: relative;
    overflow: hidden;
}
#category .wrap_banner:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 55%;
    bottom: 0;
    left: 0;
    content: '';
    background: rgba(0,0,0,0.1);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.01) 0, rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(0,0,0,0.01)), color-stop(100%, rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.01) 0, rgba(0,0,0,0.9) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.01) 0, rgba(0,0,0,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.01) 0, rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.01) 0, rgba(0,0,0,0.9) 100%);
    opacity: .95;
    text-align: center;
    box-sizing: border-box;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#category .wrap_banner img {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    display: block;
    max-width: 100%;
}
#category .wrap_banner .wr_title {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden;
}
#category .wrap_banner .wr_title .wrap_title_ed {
    top: auto;
    bottom: 20px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    position: absolute;
    width: 100%;
    left: 0;
}
#category .wrap_banner .wr_title .h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;
    margin: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#category .wrap_banner .wr_title .h2 a {
    color: #fff;
}
#category .wrap_banner .wr_title p {
    font-size: 16px;
    color: #fff;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}
#category .wrap_banner:hover .wrap_title_ed .h2 {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}
#category .wrap_banner:hover p {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}
@media screen and (max-width: 767px) {
    #category .item_proprety:nth-child(1){
        width: 100%;
    }
    #category .item_proprety {
        width: calc(100% / 12 * 6);
    }
}
@media screen and (max-width: 575px) {
    #category .item_proprety {
        width: calc(100% / 12 * 12);
    }
    #category .wrap_banner img{
        width: 100%;
    }
}